$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//FONTS
$primary-font: 'Poppins', sans-serif;

//LAYOUT 
$max-width-container: 1400px;
$container-padding: 64px;


//COLORS
$black: #070D15;
$white: #fff;
$cyan: #A9D6CB;
$dark-blue: #264065;
$grey: #909090;

//BORDER RADIUS
$radius: 50%;